@import url("../../common/resources/css/unfold-common.css");

.pf-v5-c-login {
  background-color: var(--pf-v5-global--BackgroundColor--100);
}

.pf-v5-c-login__main {
  background-color: transparent;
  border-radius: 0;
  box-shadow: none;
  border: none;
  max-width: 384px;
  margin: 0 auto;
}

.pf-v5-c-login__header {
  margin-bottom: 2rem;
  text-align: center;
}

#kc-header-wrapper {
  color: var(--pf-v5-global--Color--100);
  font-weight: 600;
  font-size: 1.5rem;
  text-transform: none;
}
