
.pf-v5-c-login {
  background-color: var(--pf-v5-global--BackgroundColor--100);
}

.pf-v5-c-login__main {
  background-color: var(--pf-v5-global--BackgroundColor--200);
  border-radius: var(--pf-v5-c-login__main--BorderRadius);
  box-shadow: var(--pf-v5-c-login__main--BoxShadow);
  border: 1px solid var(--pf-v5-global--BorderColor--100);
}

.pf-v5-c-login__header {
  margin-bottom: 2rem;
}

#kc-header-wrapper {
  color: var(--pf-v5-global--Color--100);
  font-weight: 600;
  font-size: 1.5rem;
  text-transform: none;
}
