
.pf-v5-c-page__main {
  background-color: var(--pf-v5-global--BackgroundColor--100);
}

.pf-v5-c-card {
  background-color: var(--pf-v5-global--BackgroundColor--200);
  border: 1px solid var(--pf-v5-global--BorderColor--100);
}
